*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(214, 209, 209);
}

.nav{
    height:70px;
    width:100vw;
    background-color:rgb(185, 195, 190);
    padding: 18px;
    cursor: pointer;
    position: fixed;
 
}
#p{
   margin-top:10px;
}
.navbar{
    display: flex;
    gap:100px;  
}
a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:blue;
    
}
input{
    padding: 10px;
    border-radius: 10px;
    width:400px;
}
img{
    position:relative;
    top:7px;
}
.hole{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}
.sep{
    height:500px;
    width:350px;
    background-color:#2874f0;
}
.rate{
    height:500px;
    width:400px;
    background-color: beige
}
.hole h2{
    padding:30px 20px;
}
.hole p{
    padding:10px 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hole img{
    padding: 190px 50px;
}
.rate input{
    margin: 40px 0px;
    padding: 10px;
    width:100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background: transparent;

}
.rate p{
     color:grey;
     margin:40px 10px;
}
.rate button{
    background-color: orangered;
    margin: 60px 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    width:90%;
    padding:15px;
}
@media(min-width:575px) and (max-width:1199px){
  .sep{
    height:500px;
    width:250px;
}
.rate{
    height:500px;
    width:250px;
}
.hole img{
    padding: 190px 20px;
}
}
@media(max-width:574px){
    .sep{
    height:500px;
    width:230px;

    color: black;
}
.rate{
    height:500px;
    width:220px;
    color:black;
}
}
.hole img{
    padding: 170px 10px;
}
@media(min-width:575px) and (max-width:1199px){
    .nav{
    height:70px;
    width:100vw;
    background-color:rgb(226, 231, 228);
    padding:2px;
    cursor: pointer;   
    }
    .navbar{
    display: flex;
    gap:30px;  
}
.bar{
    display: flex;
    gap:10px;
    position: relative;
    right:10px;
    font-size: 10px;
    top:10px
}
.bar p{
    position: relative;
    top:6px;
    font-size: 15px;
}

input{
    padding:10px;
    width:400px;
    margin:10px;
}
#p{
    opacity:0;
}

}
@media(max-width:574px){
    .nav{
    height:70px;
    width:100vw;
    background-color:rgb(226, 231, 228);
    padding: 18px;
    cursor: pointer;
 
}
.navbar img{
    position: relative;
    right:100px;
}
.navbar{
    display: flex;
    gap:1px;  
    position: relative;
    right:0px;
}
.bar {
    display: flex;
    gap:10px;
}
.bar p{
    font-size: 10px;
    position: relative;
    bottom:8px;
    left:10px;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:blue;
    
}
}

@media(max-width:574px){
    .nav{
    height:70px;
    width:100vw;
    background-color:rgb(226, 231, 228);
    padding: 18px;
    cursor: pointer;
    font-size: 12px;
 
}
.navbar{
    display: flex; 
    position: relative;
    right:25px;
}

input{
    width:160px;
    height:30px;
    position: relative;
    right:10px;

}
 .navbar img{
    height:20px;
    width:90px;
    position: relative;
    right:26px;
}
.bar img{
   height:30px;
   width:30px;
   position: relative;
   left:1px;
   top:0px;
}
.navbar p{
    position: relative;
    right:1px;
   
}
}
.navbar input{
    position: relative;
    right:10px;
}

