*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.overall{
    display:flex;
}
.image{
    height:700px;
    width:700px;  
    display: flex;
    align-items: center;
    justify-content: center;
      border:1px solid rgb(209, 207, 207);
}
image img{
    height:500px;
    width:500px;
}
.image1{
    height:700px;
    width:100vw;
  
}
h2{
    color:gray;position: relative;
    bottom:10px;
}
.image1 img{
   width:150px;
   position: relative;
   top:160px;
   left:320px;
}
p,h5,input,h2,.para p,.btn button,.para a{
    position: relative;
   top:180px;
   left:320px;
}
h5{
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:10;
    position: relative;bottom:5px;
}
input{
    padding:5px 10px;
    width:300px;
    position: relative;
    top:180px
}
 .p{
    color:gray;
    width:310px;
}
 .para{
    display: flex;
    gap:80px;
}
.btn button{
    padding:5px 125px;
    position: relative;
    top:200px;  
    background-color:rgb(84, 84, 251);
    color:black;
    font-size: 15px; 
    border: none;
    cursor: pointer;
}
.para p,.para a{
    position: relative;
    top:220px;
}
@media(max-width:575px){
    .image img{
       display: none;
        border: none;
    }
    image{
    display: none;
    border:0px solid;
   }
   .image1,.para,.btn{
    width:100vw;
   }
   
}
  
